Source: lhendraw
Section: science
Priority: optional
Maintainer: Dr. Lennard K. Wasserthal Wasserthal@nefkom.net
Build-Depends: gcc (>= 4.1.1), g++ (>= 4.1.1), debhelper (>= 8.0.0), libx11-dev, libxmu-dev, libsdl1.2-dev
Standards-Version: 3.9.3
Homepage: http://www.nefkom.net/Wasserthal/index.html
Vcs-Git: git://www.github.com/Wasserthal/lhendraw.git
Vcs-Browser: git



Package: lhendraw
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Description: highly cdx/cdxml-compatible chemistry drawing program
 This program is aimed to edit the .cdx/.cdxml file formats, as invented
 by cambridgesoft, as correctly as possible.
